/* General styles */
body {
  background-color: #1D1F2F;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  color: #FFFFFF;
  padding: 20px 0;
  margin: 0;
  font-size: 2em;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #ffffff;
  text-align: center;
}

.search-bar {
  margin: 20px 0;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: #2C2F3A;
  color: #FFFFFF;
}

.how-to-use {
  margin: 20px 0;
}

.how-to-use h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #FFFFFF;
}

.icon-info {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9em;
  color: #ffffff;
}

.icon-description img {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

/* Divider line styles */
.divider {
  height: 1px;
  background-color: #ffffff;
}

#statsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  min-width: 280px;
  min-height: 200px;
}

.no-players-found {
  color: #BBBBBB;
  font-size: 1.2em;
  text-align: center;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Player card styles */
.player-card {
  background-color: #242635;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: left;
  color: #FFFFFF;
  transition: transform 0.2s;
  border: 1px solid #ffffff;
}

.player-card:hover {
  transform: translateY(-5px);
}

.player-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.player-info {
  text-align: center;
  margin-top: 10px;
}

.player-info h2 {
  margin: 5px 0;
  font-size: 1.1em;
}

.player-info p {
  margin: 7px 0;
  font-size: 0.9em;
}

.stat-line {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background-color: #1D1F2F;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #757575;
}

.line-score {
  font-size: 1.2em !important;
  font-weight: bold;
}

.stat-type {
  font-size: 0.9em !important;
  text-transform: uppercase;
  color: #AAAAAA;
  padding-top: 1.5px;
}

/* Button styles */
.stat-button,
.live-stats-button {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #2C2F3A;
  color: #FFFFFF;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #444;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.modal-content h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  border-bottom: 2px solid #4b6cb7;
  padding-bottom: 10px;
}

.modal-content p {
  font-size: 1em;
  line-height: 1.6;
  margin: 10px 0;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.modal-content p strong {
  color: #4b6cb7;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
